@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

.card {
  user-select: none;
  
  &__body {
    position: relative;
    padding: 15px 44px;
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
    color: $card-text-color;
    background: $card-background-color url('../../assets/img/cat.png') 47% 183% no-repeat;
    border: 4px solid $default-card-border-color;
    border-radius: 12px;
    cursor: pointer;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0% 9%);
  
    @include size(320px, 480px);

    &::after {
      position: absolute;
      top: 3.2%;
      left: -3.2%;
      width: 61px;
      height: 4px;
      background-color: $default-card-border-color;
      transform: rotate(-44deg);
      content: ''
    }
  
    &__subtitle {
      font-size: 1.6rem;
      line-height: 1.5em;
      font-weight: 100;
    }
  
    &__title,
    &__taste {
      color: $card-title-color;
      font-weight: 900;
    }
  
    &__title {
      font-size: 4.8rem;
      line-height: 1.25em;
    }
  
    &__taste {
      margin-top: -1.5px;
      padding-left: 1.5px;
      font-size: 2.4rem;
      line-height: 1em;
    }
  
    &__comment {
      margin-top: 16px;
      font-size: 1.4rem;
      line-height: 1.15em;
      font-weight: 100;
    }
  
    &__weight {
      position: absolute;
      right: 3.5%;
      bottom: 2.5%;
      padding: 21px 0;
      font-size: 4.2rem;
      line-height: 0.55em;
      text-align: center;
      color: #ffffff;
      background-color: $default-card-border-color;
      border-radius: 50%;

      @include size(80px);
  
      &__unit {
        font-size: 2.1rem;
      }
    }
  }

  &__footer {
    margin-top: 13px;
    font-size: 1.3rem;
    line-height: 1.25em;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
    filter: drop-shadow(0px 1px 0.5px #000000);
    font-weight: 700;

    &--colored {
      color: $default-card-border-color;

      &:hover {
        color: $hover-card-border-color;
      }
    }

    &__link {
      color: inherit;
      background: inherit;
      border-bottom: 1px dashed $default-card-border-color;
      cursor: pointer;
      font-weight: inherit;

      &:hover {
        border-bottom-color: $hover-card-border-color;
      }
    }
  }
}

.card__body:hover {
  border-color: $hover-card-border-color;

  .card__body {

    &::after,
    &__weight {
      background-color: $hover-card-border-color;
    }
  }
}

.card--blured {

  .card__body__subtitle {
    color: $selected-card-border-color;
  }
}

.card--selected,
.card--selected:hover {

  .card__body {
    border-color: $selected-card-border-color;

    &::after,
    &__weight {
      background-color: $selected-card-border-color;
    }
  }
}

.card--disabled,
.card--disabled:hover {

  .card {

    &__body {
      color: $disabled-card-color;
      background-image: url('../../assets/img/cat-opacity.png');
      border-color: $disabled-card-color;
      cursor: default;

      &__title,
      &__taste {
        color: $disabled-card-color;
      }

      &__weight,
      &::after {
        background-color: $disabled-card-color;
      }
    }

    &__footer {
      color: $disabled-card-title-color;
    }
  }
}
